body{
    background-color: aqua;
    font-family: "Roboto", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1; 
}


.navbar, .navbar-nav{
    height: auto;
    background-color: white;
}

.user-name{
    border: 0.18rem solid #fe424d !important;
    border-radius: 5rem !important;
    padding: 0.4rem 0.8rem 0rem 0.8rem !important;
    
   
}
.fa-compass{
    color:red;
    font-size: 2rem;
}
.nav-link{
    color:black !important;
}

.f-info-links,.f-info-socials,.f-web-name{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.btn-size{
    width: 100% !important;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
   
    font-weight: 600 !important;
}

.f-info-socials a{
    font-size: 1.4rem;
    margin-left:1.5rem ;
    color: black;
   
}

.f-info-socials a:hover{
   
    color: rgb(9, 118, 186);
   
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
    &:hover{
        text-decoration: underline;
    }
  
}

.f-info{

    position: relative;
    top:100%;  
    left: 0;
    right: 0;
    bottom: 0;

    text-align: center;
    align-items: center;
    height: 7rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

.listing-card{
    border: none !important;


}
.card-body{
    padding: 0.2rem !important;
}



.showing-rating-text-based{
    display: none !important; 
}



.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    
}

.card-img-overlay{
    opacity: 0;
    
}

.card-img-overlay:hover{
    opacity:0.15;
    background-color: white;
}

.detail-section-img{
    height: 30vh;
}



.filters{
    display: flex;
    flex-wrap: wrap;

}
.btns-box{
    width: 52% !important;
  
}
.update-btn,.delete-btn{
    margin: 0.5rem 0rem 0.5rem 0rem !important;

}


.loadingText {
  font-weight: bold;
  font-size: 1.0rem;
  color: #ccc;
  background: linear-gradient(90deg, #ccc 25%, #fe424d 50%, #ccc 75%);
  background-size: 200% 100%;
  background-position: 200% center;
  animation: shimmer 2.0s infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
}

@keyframes shimmer {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}


@media(max-width: 519px){
  .filters{
    display: none !important;
  }
   
}
@media(max-width:767px) {
    
    .showing-rating-star{
        display: none !important;
      }

    .showing-rating-text-based{
        display: block !important; 
      }
    .listing-title{
        margin: 0rem 2rem 0rem 2rem !important;

    }

    .listing-card{
        width: 82% !important;
        margin: 0rem 2rem 0rem 2rem !important;
        

    }
    .rating-card{
        width: 82% !important;
        margin: 0rem 2rem 0rem 2rem !important;

    }

    .review-card{
        width: 82% !important;
        
        
    }
    .btns-box{
        width: 88% !important;
        margin: 0rem 2rem 0rem 2rem !important;
    }
    .update-btn,.delete-btn{
        margin: 0.5rem 0rem 0.5rem 0rem !important;
    }
    
}

