<footer>
 <div class="f-info">
    <div class="f-info-socials">
        <a href="#"> <i class="fa-brands fa-square-facebook"></i></a>
        <a href="#"> <i class="fa-brands fa-square-instagram"></i></a>
        <a href="#"> <i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-web-name">&copy; WandLust - Advanture Website</div>

    <div class="f-info-links">

        <a href="/privacy">Privacy</a>
        &nbsp;
        <a href="/terms-and-conditions">Terms and Conditions</a>
    </div>

 </div>


</footer>